<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
        <el-tabs v-model="onShowTabsName" type="card" >
                <el-tab-pane
                :key="item.name"
                v-for="(item, index) in allTabs"
                :label="item.title"
                :name="item.name"
                >
                <div class="demo-image__placeholder">
                        <div class="block">
                                <el-image :src="item.content.src_img"></el-image>
                        </div> 
                </div>
                <div class="demo-image__placeholder">
                        <div class="block">
                                <el-image :src="item.content.src_img_hist"></el-image>
                        </div> 
                </div>
                <div>
                <ul style="list-style-type:none;float:left">
                <li><span>Current diff offset : {{ currentOffset }}</span></li>
                <li><el-input placeholder="input new offset" v-model="newOffset" clearable ></el-input>
                <li></li><el-button size="small" type="primary" @click="dialogVisible = true">Set Offset!</el-button></li>
                </ul>
                <el-dialog
                title="Notice"
                :visible.sync="dialogVisible"
                width="30%"
                >
                <span>Besure to set diff offset to {{ newOffset }}</span>
                <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancle</el-button>
                <el-button type="primary" @click="setDiffOffset(newOffset,onShowTabsName);dialogVisible = false">Apply</el-button>
                </span>
                </el-dialog>
                </div>

                <div class="demo-image__placeholder">
                        <div class="block">
                                <el-image :src="item.content.src_img_offset"></el-image>
                        </div> 
                </div>
                <div class="demo-image__placeholder">
                        <div class="block">
                                <el-image :src="item.content.src_img_hist_offset"></el-image>
                        </div> 
                </div>
                </el-tab-pane>
        </el-tabs>
    </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
                dialogVisible: false,
                onShowTabsName: 'BTCUZ',
                allTabs: [{
                title: 'BTCUZ',
                name: 'BTCUZ',
                content: {
                        'src_img':'./figure/BTCUZ.png',
                        'src_img_hist':'./figure/BTCUZ_HIST.png',
                        'src_img_offset':'./figure/BTCUZ_OFFSET.png',
                        'src_img_hist_offset':'./figure/BTCUZ_HIST_OFFSET.png'
                        }
                }],
                newOffset:"",
                currentOffset:"0.0"
         }
      },
      methods:{
        setDiffOffset(anewOffset,onShowTabsName){
            console.log(anewOffset)
            console.log(onShowTabsName)
            axios.post('http://raylee.5166.info:8001/diff_offset',{"symbol_pair":onShowTabsName,"offset_val":anewOffset})
                .then(response => (this.currentOffset=anewOffset))
                .catch(function (error) { // 请求失败处理
                        console.log(error);
                });
            dialogVisible = false
        } ,
        getDiffOffset(onShowTabsName){
                axios.get('http://raylee.5166.info:8001/diff_offset?symbol_pair='+onShowTabsName)
                .then(response => (this.currentOffset=response.data.diff_offset))
                .catch(function (error) { // 请求失败处理
                        console.log(error);
                });
        }   
      },
      mounted() {
        this.getDiffOffset(this.onShowTabsName);
      }
    })
  </script>
</html>
