[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
three = "*"
ccxt = "*"
sqlalchemy = "*"
aiohttp = "*"
bitmex-market-maker = "*"
future = "*"
psycopg2 = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
mplcursors = "*"
python-binance = "*"

[requires]
python_version = "3.7"
