[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
v = {editable = true,version = "*"}

[packages]
three = "*"
ccxt = "*"
sqlalchemy = "*"
aiohttp = "*"
bitmex-market-maker = "*"
future = "*"
psycopg2 = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
mplcursors = "*"
python-binance = "*"
ta-lib = "*"
sanic = "*"
tensorflow = "*"
paramiko = "*"

[requires]
python_version = "3.7"
